.loader {
  animation: animar 2s linear infinite;
  position: absolute;
  left: 50%;
  margin-top: 40px;
  font-size: 50px;
  margin-left: -25px;
}

@keyframes animar {
  to {
    rotate: 360deg;
  }
}
